
.align-items-center {
    align-items: center !important;
}
.media {
    display: flex;
    align-items: flex-start;
}

.avatars {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.list-group-activity .avatars > li:first-child {
    position: relative;
    z-index: 2;
}
.avatar.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    background: #f8f9fa;
    color: #fff;
}

.list-group-activity span {
    margin-right: 0.25rem;
}

.text-small {
    font-size: .825rem;
    color: #6c757d;
    line-height: 1.3125rem;
}

.list-group {
    font-size:14px;
}

.skeletonWidht {
    width:150px;
}