.courses {
    margin: 5px 0 5px 0;
    height:500px;
}

.btn-primary {
    color: white;
    background-color:grey
}

.navbg {
    background-color: #343a40;
}

.nav-text:hover {
    color: white;
}

.nav-text {
    color: rgba(255, 255, 255, 0.65);
}

.nav-text-select {
    color: white;
}

.logo {
    color:#D84627;
    font-size:20px;
    font-weight:800;
}

.logo:hover {
    color:#FD5430;
}

.navbar-toggler-icon {
    color: white;
}