@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.text-grey {
    color: #6c757d;
}

hr {
    border-color:#AFAFAF;
}

body {
    background-color: #f8f9fa;
}