@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: linear-gradient(to top right, #111, #001c15);
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    position: relative;
    height: 100vh;
    --logo-color: #ffffff;
    --text-color: #FFFFFF;
    --text-advice: rgb(65, 255, 201);
    --text-grey: rgb(189, 189, 189);
    --nav-cards-bg: rgba(255, 255, 255, 0.04);
    --hr-bg: hsla(0,0%,100%,.30);
    --nav-card-hover: #ffffff0f;
}

body.light {
    background: rgb(240 249 247/1);
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    position: relative;
    height: 100vh;
    color: rgb(5, 25, 20);
    --logo-color: #161616;
    --text-color: #161616;
    --text-advice: rgb(0 141 109/1);
    --text-grey: #161616;
    --nav-cards-bg: rgba(5,25,20,.05);
    --hr-bg: rgba(5,25,20,.30);
    --nav-card-hover:  rgba(5,25,20,.10);
}

body.light:before {
    filter: invert(1);
}

body:before {
    content: "";
    background-image: url(./assets/grid.svg);
    background-repeat: repeat;
    position: absolute;
    inset: 0;
    opacity: .2;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


p {
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    color: var(--hr-bg);
}

footer {
    font-size:12px
}


.icon-menu {
    width:1.25rem;
    height:1.25rem;
    stroke: var(--text-color);
}

.logo {
    width:50px;
    height:50px;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: rotate(15deg);
    transition: all .2s ease-in-out;
}

.button-menu {
    width: 2.2rem;
    height: 2.2rem;
    background: rgba(204, 204, 204, 0.04);
    border: 0 solid #000;
    margin: 0 auto;
}
.cls-1{
    fill:var(--logo-color);
}

.cls-2{fill:none;}

.text-advice {
    color: var(--text-advice);
}

.text-grey {
    font-size:18px;
    color: var(--text-grey);
}

.text-grey-only {
    color: var(--text-grey)
}

.avatar-banner {
    width: 250px;
    height:250px;
}

.avatar-banner:hover {
    animation: wobble;
    animation-duration: 1s;
}

div.nav-cards {
    border-radius: 10px;
    transition: all .1s ease-in-out;

}

.nav-cards a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--nav-cards-bg);
    width: 100%;
    transition: all .4s ease-in-out;
}

.card-delay-1 {
    animation-delay: 0.2s;
}
.card-delay-2 {
    animation-delay: 0.4s;

}
.card-delay-3 {
    animation-delay: 0.6s;
}

.nav-cards a:hover {
    background-color: var(--nav-card-hover);
    transition: all .6s ease-in-out;
}

.nav-cards a p {
    color: var(--text-grey);
    font-size:15px;
}

.skill-card {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--nav-cards-bg);
    transition: all .4s ease-in-out;
}

.skill-card:hover {
    background-color: var(--nav-card-hover);
    transition: all .6s ease-in-out;
}

.react-bg {
    background-color: #7ee1fc26;
    width: 35px;
    height: 35px;
}

#pages {
    max-width: 960px;
}

#skills {
    max-width: 960px;
}

.title {
    font-weight: 200;
}

.skill-card:hover {
    animation: headShake;
    animation-duration: 1s;
}

@media (max-width: 575.98px){
    .skill-card {
        width:100%;
        flex: none;
        display: inline;
    }
    .avatar-banner {
        width: 150px;
        height:150px;
        display:block;
        margin-bottom:20px;
    }
    .nav-cards a {
        display: block;
        margin-bottom:25px;
    }

}

@media (max-width: 767.98px) {
    .avatar-banner {
        width: 150px;
        height:150px;
        display:block;
        margin-bottom:20px;
    }
    .nav-cards a {
        display: block;
        margin-bottom:25px;
    }
    .text-banner {
        font-size:16px;
    }
    .title {
        font-size:25px;
    }
}